<div id = "error-block">
    Wrong input!
</div>
<main>

<form action="/?cmd=show-author-add-submit" method="post">

<table class="input-table">

    <tr>
        <td><label for="en">Eesnimi:</label></td>
        <td>
            <tpl tpl-if="$author">
                <input type="text" id="en" name="firstName" value="{{ $author[1] }}">
            </tpl>
            <tpl tpl-if="!$author">
                <input type="text" id="en" name="firstName">
            </tpl>
        </td>
    </tr>
    <tr>
        <td><label for="pn">Perekonnanimi:</label></td>
        <td>
            <tpl tpl-if="$author">
                <input type="text" id="pn" name="lastName" value="{{ $author[2] }}">
            </tpl>
            <tpl tpl-if="!$author">
                <input type="text" id="pn" name="lastName">
            </tpl>
        </td>
    </tr>
    <tr>
        <td>Hinne:</td>
        <td class="radio-checkbox-row">
            <tpl tpl-if="$author[3]">
                <tpl tpl-if="$author[3] == 1">
                    <label><input type="radio" name="grade" value="1" checked>1</label>
                    <label><input type="radio" name="grade" value="2">2</label>
                    <label><input type="radio" name="grade" value="3">3</label>
                    <label><input type="radio" name="grade" value="4">4</label>
                    <label><input type="radio" name="grade" value="5">5</label>
                </tpl>
                <tpl tpl-if="$author[3] == 2">
                    <label><input type="radio" name="grade" value="1">1</label>
                    <label><input type="radio" name="grade" value="2" checked>2</label>
                    <label><input type="radio" name="grade" value="3">3</label>
                    <label><input type="radio" name="grade" value="4">4</label>
                    <label><input type="radio" name="grade" value="5">5</label>
                </tpl>
                <tpl tpl-if="$author[3] == 3">
                    <label><input type="radio" name="grade" value="1">1</label>
                    <label><input type="radio" name="grade" value="2">2</label>
                    <label><input type="radio" name="grade" value="3" checked>3</label>
                    <label><input type="radio" name="grade" value="4">4</label>
                    <label><input type="radio" name="grade" value="5">5</label>
                </tpl>
                <tpl tpl-if="$author[3] == 4">
                    <label><input type="radio" name="grade" value="1">1</label>
                    <label><input type="radio" name="grade" value="2">2</label>
                    <label><input type="radio" name="grade" value="3">3</label>
                    <label><input type="radio" name="grade" value="4" checked>4</label>
                    <label><input type="radio" name="grade" value="5">5</label>
                </tpl>
                <tpl tpl-if="$author[3] == 5">
                    <label><input type="radio" name="grade" value="1">1</label>
                    <label><input type="radio" name="grade" value="2">2</label>
                    <label><input type="radio" name="grade" value="3">3</label>
                    <label><input type="radio" name="grade" value="4">4</label>
                    <label><input type="radio" name="grade" value="5" checked>5</label>
                </tpl>
            </tpl>
            <tpl tpl-if="!$author[3]">
                <label><input type="radio" name="grade" value="1">1</label>
                <label><input type="radio" name="grade" value="2">2</label>
                <label><input type="radio" name="grade" value="3">3</label>
                <label><input type="radio" name="grade" value="4">4</label>
                <label><input type="radio" name="grade" value="5">5</label>
            </tpl>
        </td>
    </tr>
    <tr>
        <tpl tpl-if="$db">
            <input type="hidden" name="id" value="{{ $book[0] }}">
            <td colspan="2"><input type="submit" value="Kustuta" name="deleteButton"></td>
        </tpl>
        <td colspan="2"><input type="submit" value="Salvesta" id="subtab" name="submitButton"></td>
    </tr>

</table>

</form>

</main>