<main>

<form action="/?cmd=show-author-add-submit" method="post">

<table class="input-table">

    <tr>
        <td><label for="en">Eesnimi:</label></td>
        <td>
            <input type="text" id="en" name="firstName">
        </td>
    </tr>
    <tr>
        <td><label for="pn">Perekonnanimi:</label></td>
        <td>
            <input type="text" id="pn" name="lastName">
        </td>
    </tr>
    <tr>
        <td>Hinne:</td>
        <td class="radio-checkbox-row">
            <label><input type="radio" name="grade" value="1">1</label>
            <label><input type="radio" name="grade" value="2">2</label>
            <label><input type="radio" name="grade" value="3">3</label>
            <label><input type="radio" name="grade" value="4">4</label>
            <label><input type="radio" name="grade" value="5">5</label>
        </td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Salvesta" id="subtab" name="submitButton"></td>
    </tr>

</table>

</form>

</main>