<tpl tpl-if="$message == 'deleted'">
    <div id = "message-block">
        Deleted!
    </div>
</tpl>

<tpl tpl-if="$message == 'updated'">
    <div id = "message-block">
        Uuendatud!
    </div>
</tpl>

<tpl tpl-if="$message == 'saved'">
    <div id = "message-block">
        Lisatud!
    </div>
</tpl>

<main>
<table class="list-table">
    <tr class="header-row">
        <td class="name-in-header">Nimi</td>
        <td class="name-in-header">Perekonnanimi</td>
        <td class="rate-in-header">Hinne</td>
    </tr>
    <tpl tpl-foreach="$authors as $author">
        <tr>
            <td><a href="/?cmd=show-author-edit&id={{ $author[0] }}">{{ $author[1] }}</a></td>
            <td> {{ $author[2] }} </td>
            <td> {{ $author[3] }} </td>
        </tr>
    </tpl>
</table>
</main>