<div id = "error-block">
    Wrong input!
</div>
<main>

    <form action="/?cmd=show-book-add-submit" method="post">

        <table class="input-table">

            <tr>
                <td><label for="pk">Pealkiri:</label></td>
                <td><input type="text" id="pk" name="title" value="{{ $book[1] }}"></td>
            </tr>
            <tr>
                <td><label for="a1">Autor 1:</label></td>
                <td>
                    <select id="a1" name="author1">
                        <option></option>
                        <tpl tpl-foreach="$authors as $author">
                            <tpl tpl-if="$author[0] == $book[4]"><option value="{{ $author[0] }}" selected>{{ $author[1] }} {{ $author[2] }}</option></tpl>
                            <tpl tpl-if="$author[0] != $book[4]"><option value="{{ $author[0] }}">{{ $author[1] }} {{ $author[2] }}</option></tpl>
                        </tpl>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="a2">Autor 2:</label></td>
                <td>
                    <select id="a2" name="author2">
                        <option></option>
                        <tpl tpl-foreach="$authors as $author">
                            <tpl tpl-if="$author[0] == $book[5]"><option value="{{ $author[0] }}" selected>{{ $author[1] }} {{ $author[2] }}</option></tpl>
                            <tpl tpl-if="$author[0] != $book[5]"><option value="{{ $author[0] }}">{{ $author[1] }} {{ $author[2] }}</option></tpl>
                        </tpl>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Hinne:</td>
                <td class="radio-checkbox-row">
                    <tpl tpl-if="$book[2]">
                        <tpl tpl-if="$book[2] == 1">
                            <label><input type="radio" name="grade" value="1" checked>1</label>
                            <label><input type="radio" name="grade" value="2">2</label>
                            <label><input type="radio" name="grade" value="3">3</label>
                            <label><input type="radio" name="grade" value="4">4</label>
                            <label><input type="radio" name="grade" value="5">5</label>
                        </tpl>
                        <tpl tpl-if="$book[2] == 2">
                            <label><input type="radio" name="grade" value="1">1</label>
                            <label><input type="radio" name="grade" value="2" checked>2</label>
                            <label><input type="radio" name="grade" value="3">3</label>
                            <label><input type="radio" name="grade" value="4">4</label>
                            <label><input type="radio" name="grade" value="5">5</label>
                        </tpl>
                        <tpl tpl-if="$book[2] == 3">
                            <label><input type="radio" name="grade" value="1">1</label>
                            <label><input type="radio" name="grade" value="2">2</label>
                            <label><input type="radio" name="grade" value="3" checked>3</label>
                            <label><input type="radio" name="grade" value="4">4</label>
                            <label><input type="radio" name="grade" value="5">5</label>
                        </tpl>
                        <tpl tpl-if="$book[2] == 4">
                            <label><input type="radio" name="grade" value="1">1</label>
                            <label><input type="radio" name="grade" value="2">2</label>
                            <label><input type="radio" name="grade" value="3">3</label>
                            <label><input type="radio" name="grade" value="4" checked>4</label>
                            <label><input type="radio" name="grade" value="5">5</label>
                        </tpl>
                        <tpl tpl-if="$book[2] == 5">
                            <label><input type="radio" name="grade" value="1">1</label>
                            <label><input type="radio" name="grade" value="2">2</label>
                            <label><input type="radio" name="grade" value="3">3</label>
                            <label><input type="radio" name="grade" value="4">4</label>
                            <label><input type="radio" name="grade" value="5" checked>5</label>
                        </tpl>
                    </tpl>
                    <tpl tpl-if="!$book[2]">
                        <label><input type="radio" name="grade" value="1">1</label>
                        <label><input type="radio" name="grade" value="2">2</label>
                        <label><input type="radio" name="grade" value="3">3</label>
                        <label><input type="radio" name="grade" value="4">4</label>
                        <label><input type="radio" name="grade" value="5">5</label>
                    </tpl>
                </td>
            </tr>
            <tr>
                <td><label>Loetud:</label></td>
                <tpl tpl-if="$book[3]">
                    <td class="radio-checkbox-row"><label><input type="checkbox" name="isRead" checked></label></td>
                </tpl>
                <tpl tpl-if="!$book[3]">
                    <td class="radio-checkbox-row"><label><input type="checkbox" name="isRead"></label></td>
                </tpl>
            </tr>
            <tr>
                <tpl tpl-if="$db">
                    <input type="hidden" name="id" value="{{ $book[0] }}">
                    <td colspan="2"><input type="submit" value="Kustuta" name="deleteButton"></td>
                </tpl>
                <td colspan="2"><input type="submit" value="Salvesta" id="subtab" name="submitButton"></td>
            </tr>

        </table>

    </form>

</main>

