<main>

<form action="/?cmd=show-book-add-submit" method="post">

<table class="input-table">

    <tr>
        <td><label for="pk">Pealkiri:</label></td>
        <td><input type="text" id="pk" name="title"></td>
    </tr>
    <tr>
        <td><label for="a1">Autor 1:</label></td>
        <td>
            <select id="a1" name="author1">
                <option></option>
                <tpl tpl-foreach="$authors as $author"><option value="{{ $author[0] }}">{{ $author[1] }} {{ $author[2] }}</option></tpl>
            </select>
        </td>
    </tr>
    <tr>
        <td><label for="a2">Autor 2:</label></td>
        <td>
            <select id="a2" name="author2">
                <option></option>
                <tpl tpl-foreach="$authors as $author"><option value="{{ $author[0] }}">{{ $author[1] }} {{ $author[2] }}</option></tpl>
            </select>
        </td>
    </tr>
    <tr>
        <td>Hinne:</td>
        <td class="radio-checkbox-row">
            <label><input type="radio" name="grade" value="1">1</label>
            <label><input type="radio" name="grade" value="2">2</label>
            <label><input type="radio" name="grade" value="3">3</label>
            <label><input type="radio" name="grade" value="4">4</label>
            <label><input type="radio" name="grade" value="5">5</label>
        </td>
    </tr>
    <tr>
        <td><label for="ld">Loetud:</label></td>
        <td class="radio-checkbox-row"><input type="checkbox" id="ld" name="isRead"></td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Salvesta" id="subtab" name="submitButton"></td>
    </tr>

</table>

</form>

</main>
