<!--
<?php require_once ("MySQLFunctions.php"); ?>

<?php if (isset($_GET["message"]) && $_GET["message"] == "deleted"): ?>
    <div id = "message-block">
        Deleted!
    </div>
<?php endif; ?>

<?php if (isset($_GET["message"]) && $_GET["message"] == "updated"): ?>
    <div id = "message-block">
        Uuendatud!
    </div>
<?php endif; ?>

<?php if (isset($_GET["message"]) && $_GET["message"] == "saved"): ?>
    <div id = "message-block">
        Lisatud!
    </div>
<?php endif; ?>
-->

<tpl tpl-if="$message == 'deleted'">
    <div id = "message-block">
        Deleted!
    </div>
</tpl>

<tpl tpl-if="$message == 'updated'">
    <div id = "message-block">
        Uuendatud!
    </div>
</tpl>

<tpl tpl-if="$message == 'saved'">
    <div id = "message-block">
        Lisatud!
    </div>
</tpl>


<main>
    <table class="list-table">
        <tr class="header-row">
            <td class="name-in-header">Pealkiri</td>
            <td class="name-in-header">Autorid</td>
            <td class="rate-in-header">Hinne</td>
        </tr>
        <!-- <?php $prevId=null; foreach (request("
SELECT books.id, title, books.grade, a.id, a.first_name, a.last_name, a2.first_name, a2 .last_name
FROM books
LEFT JOIN author_book ab on books.id = ab.book_id
LEFT JOIN authors a on ab.author_id = a.id
LEFT JOIN author_book ab2 on books.id = ab2.book_id and ab2.id != ab.id
LEFT JOIN authors a2 on a2.id = ab2.author_id and a2.id != a.id
ORDER BY books.id, ab.id", null, null) as $book):?>
        <?php if ($prevId !=  $book[0]): ?> -->
        <tpl tpl-foreach="$books as $book">
        <tr>
            <td><a href="/?cmd=show-book-edit&id={{ $book[0] }}">{{ $book[1] }}<!--<?= $book[1] ?>--></a></td>
            <td>
                {{ $book[4] }} {{ $book[5]}}<tpl tpl-if="$book[6] != '' || $book[6] != null">,
                {{ $book[6] }} {{ $book[7] }}
                </tpl>
                <!--<?php if (trim($book[6]) != ""): ?>
                <?= $book[4]." ".$book[5].", ".$book[6]." ".$book[7] ?>
                <?php else: ?>
                <?= $book[4]." ".$book[5] ?>
                <?php endif; ?> -->
            </td>
            <td>{{ $book[2] }}<!--<?= $book[2] ?>--></td>
        </tr>
        </tpl>
        <!--<?php endif; ?>
        <?php $prevId = $book[0]; endforeach; ?> -->
    </table>
</main>
