<nav>
<a href="?cmd=show-book-list" id="book-list-link">Raamatud</a> |
<a href="?cmd=show-book-add" id="book-form-link">Lisa raamat</a> |
<a href="?cmd=show-author-list" id="author-list-link">Autorid</a> |
<a href="?cmd=show-author-add" id="author-form-link">Lisa autor</a>
</nav>
