nav, footer {
    background-color: gold;
    padding: 10px;
    border-radius: 20px;
}

#error-block{
    margin-top: 20px;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
}

#message-block{
    margin-top: 20px;
    background-color: green;
    padding: 10px;
    border-radius: 20px;
}

main {
    min-height: 20rem;
    margin-top: 4rem;
}
body {
    font-size: 1.3em;
    min-width: 25%;
    max-width: 50%;
    margin: auto;
    padding: 2%;
    font-family: arial, sans-serif;
    color: black;
}
.header-row {
    font-weight: bold;
    border-bottom: 3px solid black;
}
.list-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 35px;
}
input[type="text"]{
    width: 225px;
}
select {
    width: 232px;
}
.input-table {
    width: auto;
    margin: auto;
    text-align: right;
}
.radio-checkbox-row {
    text-align: left;
}
.name-in-header {
    width: 45%;
}
.rate-in-header {
    width: 10%;
}
